@keyframes bog_ui_toast_slide_in {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

[bog_ui_toast] {
	animation: bog_ui_toast_slide_in 0.3s ease-out;
}

[bog_ui_toast_closeable="false"] [bog_ui_toast="Close"] {
	display: none;
}
