[bog_ui_sheet] {
	visibility: hidden;
}

[bog_ui_sheet_showed="true"] {
	visibility: visible;
}

[bog_ui_sheet] [bog_ui_sheet="Backdrop"] {
	transition: background-color 0.3s ease;
}

[bog_ui_sheet] [bog_ui_sheet="Panel"] {
	transition: transform 0.3s ease;
}

/* Right side */
[bog_ui_sheet_side="right"] [bog_ui_sheet="Panel"] {
	top: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	max-width: 80vw;
	transform: translateX(100%);
}

[bog_ui_sheet_showed="true"][bog_ui_sheet_side="right"] [bog_ui_sheet="Panel"] {
	transform: translateX(0);
}

/* Left side */
[bog_ui_sheet_side="left"] [bog_ui_sheet="Panel"] {
	top: 0;
	left: 0;
	bottom: 0;
	width: 400px;
	max-width: 80vw;
	transform: translateX(-100%);
}

[bog_ui_sheet_showed="true"][bog_ui_sheet_side="left"] [bog_ui_sheet="Panel"] {
	transform: translateX(0);
}

/* Top side */
[bog_ui_sheet_side="top"] [bog_ui_sheet="Panel"] {
	top: 0;
	left: 0;
	right: 0;
	height: 50vh;
	max-height: 50vh;
	transform: translateY(-100%);
}

[bog_ui_sheet_showed="true"][bog_ui_sheet_side="top"] [bog_ui_sheet="Panel"] {
	transform: translateY(0);
}

/* Bottom side */
[bog_ui_sheet_side="bottom"] [bog_ui_sheet="Panel"] {
	bottom: 0;
	left: 0;
	right: 0;
	height: 50vh;
	max-height: 50vh;
	transform: translateY(100%);
}

[bog_ui_sheet_showed="true"][bog_ui_sheet_side="bottom"] [bog_ui_sheet="Panel"] {
	transform: translateY(0);
}
